   tstCurrentDate;
  <form action="/patient/postDispatcher" method="post">
      <%= text_field_tag 'id', nil,
      {           :helpText=> "Dispatcher Id", 
                  :field_type => "number",
                  :tt_pageStyleClass => "NumbersOnly WithUnkown"
      }%>
      <%= text_field_tag 'f_name', nil,
      {           :helpText=> "First Name", 
                  :field_type => "text"
      }%>

       <%= text_field_tag 'l_name', nil,
      {           :helpText=> "Last Name", 
                  :field_type => "text"
      }%>

       <%= text_field_tag 'phone', nil,
      {           :helpText=> "Phone Number", 
                  :field_type => "number",
                  :tt_pageStyleClass => "NumbersOnly"

      }%>
     

      <%= text_field_tag "date_dispatched",nil,
      {
                  :field_type => 'date',
                  :helpText => "dispatching Date",
                  :value => Date.today
      }%>

      <%= select_tag 'selected_sample', options_for_select(@specimen),
      {           :helpText => 'Select Sample Type',
                  :id => "specimen_type",
                  :multiple =>  false,
                  :tt_pageStyleClass => "longSelectList",
                  :tt_onUnLoad=>"setUrl()",
                  :tt_pageStyleClass => "NoKeyboard"              
      }%>

      <%= select_tag "undispatched_orders[]",nil,
      {
                :helpText => "Order dispatching",
                :multiple =>  true,
                :id => "specimen",
                :tt_pageStyleClass => "longSelectList", 
                       
             
      }%>
    <%= submit_tag value="Submit"%>
  </form>

  <script type="text/javascript">
    tt_cancel_destination ="barcode";

     function setUrl(){

        var value = __$("touchscreenInput"+tstCurrentPage).value;
        __$("specimen").setAttribute("ajaxURL","/load_orders?selected_sample="+value);
     }


  </script>


