
        <script type="text/javascript">
            tstUsername = "";
            tstCurrentDate = new Date();
            var tt_cancel_destination = null;
            var tt_cancel_destination = "/patient/barcode";

            function setInnerHtmlData(id, result, path) {
                td = document.getElementById(id);
                td.innerHTML = "<a href =" + path + ">" + result + "</a>"
            }

            function newResults() {
                window.location = "/patient/new_lab_results?identifier=<%= @national_id%>";
            }

            function setAttributes() {
                divBtn = document.getElementById('buttons');
                divBtn.innerHTML += "<button onclick='newResults();' class='left button navButton' id='newResultsButton'><span>Order Tests</span></button>"
            }

            function manageTestsOrdered() {
                window.location = "/patient/manage_orders/<%= @national_id %>"
            }

            function confirmAction(obj) {
                accessionNum = obj.getAttribute("AccessionNum");
                testOrdered = obj.getAttribute("TestOrdered");
                jQuery('#myModal').modal('show');
            }

            function load_result_page(id){
                
                window.location = '/patient/enter_test_result/?tracking_number=' + id;
            }

            function RePrint(trackingNumber){
                window.location = "/patient/print_tracking_number?tracking_number=" + trackingNumber;
            }
            function viewResults(node){

                if (node.className.match('gry')){
                    //return
                }

                var data = JSON.parse(node.getAttribute('data'));

                var rawData = JSON.parse(node.getAttribute('raw-data'));
                var nl = JSON.parse(node.getAttribute('nl'));
               

                if (nl == true)
                { 
                     showShield();
                    var table = __$('data-table');
                    __$('header').innerHTML = "<span style='float: right;margin-right: 50px;'>Tracking Number: &nbsp" + rawData['tracking_number'] + "</span>" +
                        "<span style='float: left;margin-left: 50px;'>Sample Type: &nbsp" + rawData['specimen_type'] + "</span>"; 
                    __$('test_types').innerHTML = rawData['tests'].join(', ')
                    __$('date_of_sample').innerHTML = rawData['date_created'];

                   

                    var tempRows = document.getElementsByClassName('temp-row');
                    for(var i = 0; i < tempRows.length; i ++){
                        tempRows[i].parentNode.removeChild(tempRows[i]);
                    }   

                  

                    for(var j = 0; j < Object.keys(data).length; j ++){
                            
                                var test = Object.keys(data)[j];
                                var measure = Object.keys(data[test]);
                                var result = data[test][measure];
                              

                                var row = document.createElement('tr');
                                row.className = 'temp-row'
                                var td = document.createElement('td');
                                td.colSpan = '2';
                                td.innerHTML = test;
                                td.style.paddingTop = '15px';
                                td.style.fontWeight = 'bold';
                                td.style.background = 'ghostwhite';

                                row.appendChild(td);
                                table.appendChild(row);
                                

                                    var row = document.createElement('tr');
                                    row.className = 'temp-row';
                                    table.appendChild(row);
                                    var label = document.createElement('td');
                                    label.innerHTML =  measure;
                                    row.appendChild(label);

                                    var value = document.createElement('td');
                                    value.innerHTML = result;
                                    row.appendChild(value);
                                   
                                
                            
                    }



                }
                else {

                        showShield();
                        var table = __$('data-table');
                        __$('header').innerHTML = "<span style='float: right;margin-right: 50px;'>Tracking Number: &nbsp" + rawData['tracking_number'] + "</span>" +
                                "<span style='float: left;margin-left: 50px;'>Sample Type: &nbsp" + rawData['sample_type'] + "</span>";
                        __$('test_types').innerHTML = rawData['test_types'].join(', ')
                        __$('date_of_sample').innerHTML = rawData['date_ordered'];

                        var tempRows = document.getElementsByClassName('temp-row');
                        for(var i = 0; i < tempRows.length; i ++){
                            tempRows[i].parentNode.removeChild(tempRows[i]);
                        }

                        for(var j = 0; j < data.length; j ++){
                            for (var t in data[j]){
                                var measures = Object.keys(data[j][t]);
                                var row = document.createElement('tr');
                                row.className = 'temp-row'
                                var td = document.createElement('td');
                                td.colSpan = '2';
                                td.innerHTML = t;
                                td.style.paddingTop = '15px';
                                td.style.fontWeight = 'bold';
                                td.style.background = 'ghostwhite';

                                row.appendChild(td);
                                table.appendChild(row);
                                var results = data[j][t]['results'];

                                for(var key in results){
                                    var row = document.createElement('tr');
                                    row.className = 'temp-row';
                                    table.appendChild(row);
                                    var label = document.createElement('td');
                                    label.innerHTML = key;
                                    row.appendChild(label);

                                    var value = document.createElement('td');
                                    value.innerHTML = results[key];
                                    row.appendChild(value);
                                }
                            }
                        }
                    }

            }

            function showShield(){
                __$('shield').style.display = 'block';
                __$('data').style.display = 'block';
            }

            function removeData(){
                __$('shield').style.display = 'none';
                __$('data').style.display = 'none';

                var table = __$('data-table');
                var tempRows = document.getElementsByClassName('temp-row');
                for(var i = 0; i < tempRows.length; i ++){
                    tempRows[i].parentNode.removeChild(tempRows[i]);
                }
            }


        </script>

        <style>
            #lab_results {
                border-width: 2px 0px 2px 0px;
                border-style: solid;
                height: 500px;
                padding-left: 5px;
                padding-right: 5px;
                width: 100%;
                overflow: auto;
                margin-top: 10px;
            }

            #headdiv {
                padding-left:10px;
            }

            a {
                background-color: grey;
                border-bottom: 1px outset black;
                border-style: outset;
                border-top: 1px outset black;
                color: white;
                display: block;
                padding: 10px 16px 10px 10px;
                text-align: center;
                text-decoration: none;
            }

            td {
                padding-top: 5px;
                padding-bottom: 5px;
                width: 250px;
            }

            #vlResultsButton{
                float: left;
            }

            #details {
                -moz-user-select: none;
                background-color: #fff;
                border: 1px solid #999;
                border-radius: 20px;
                display: table;
                float: left;
                margin: 5px;
                overflow: hidden;
                padding: 10px;
                width: 400px;
            }

            .label{
                font-size: 1em;
                font-weight: bold;
                margin: 0 5px 5px;
                padding: 2px;
            }

            .identifier{
                font-weight: bold;
                font-size: 16pt; 
                padding-left: 100px;
            }

            hr{
                margin-left: -10px;
                width: 106%;
            }

            #details .label{
                padding-left: 60px;
            }

            #lab_results {
                border-width: 2px 0px 2px 0px;
                border-style: solid;
                height: 500px;
                padding-left: 2%;
                padding-top: 20px;
                padding-right: 5px;
                width: 97%;
                margin: auto;
            }

            #headdiv {
                padding-left:5.5%;
            }

            #myModal button{
                border: 3px outset #000;
                min-width: 96px
            }

            hr {
                border: none;
                height: 2px;
                color: #333; /* old IE */
                background-color: #333; /* Modern Browsers */
            }

            #newResultsButton{
                float: left;
            }
            .gry, .gry:hover{
                background: #d3d3d3;
                cursor: auto;
            }
            #data td{
                border: 1px solid #d3d3d3;
                padding-left: 10px;
            }

        </style>

        </head>

                <div id = 'headdiv' style="color: darkslategray">
                    <div id="details" >
                        <span class="identifier" style="text-decoration: underline"><%= @national_id %></span><br/>
                        <span class="label" style="padding-right:80px">Name</span> : <%= ((@name rescue " ") + ' ' + (@name rescue " ")) %> (<%= @gender rescue ""%>)<br />
                        <span class="label" style="padding-right:47px">Residence</span>: <%= @address rescue " "%><br />
                        <span class="label" style="padding-right:92px">Age</span> : <%= @age rescue " " %> 
                    </div>
                </div>

                <div id="lab_results" style="color: darkslategray">
                    <div style="overflow: auto; width: 100%; height: 490px;background: white;">
                        <table style="border-spacing: 0; border-collapse: collapse; width: 100%;" >
                            <thead>
                                <tr style=" color: ghostwhite;font-size: 1.2em;" >
                                    <th style=" max-width: 50px;background: darkslategray; text-align: center ">Tracking Number</th>
                                    <th style="padding: 8px;max-width: 40px;background: darkslategray; text-align: center ">Sample Type</th>
                                    <th style="text-align: center;background: darkslategray;">Test(s) Ordered</th>
                                    <th style="text-align: center;background: darkslategray">Order Date</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>

                                </tr>
                            </thead>
                            <tbody>
                                
                                <% if @nlims_controller == true %>
                                
                                    <% @tests.each {|test|
                                        results_available = @results[test['tracking_number']] 
                                        ava_results = results_available if results_available
                                        clas = ' gry ' if !results_available

                                    %> 
                                        <tr>
                                            <td style="text-align: center; border-bottom: 1px solid black;"><%=  test['tracking_number']%></td>
                                            <td style="text-align: center; border-bottom: 1px solid black;"><%= test['specimen_type']%></td>
                                            <td style="text-align: center; border-bottom: 1px solid black;"><%= test['tests'].join(', ')%></td>
                                            <td style="text-align: center; border-bottom: 1px solid black;"><%= "#{test['date_created'].to_date.strftime('%d-%b-%Y')}".html_safe %></td>
                                            <td style="width: 70px;">
                                              <button class="btn btn-primary" style="padding: 9px;margin: 3px;min-width: 70px;"
                                                      onmousedown="RePrint('<%= test['tracking_number']%>')">Re-print</button>
                                            </td>
                                            <td style="width: 70px;">
                                                <button class="btn <%= clas%> btn-primary" style="padding: 9px;margin: 3px;min-width: 70px;"
                                                    raw-data="<%=  test.to_json %>" nl="true" data="<%= ava_results.to_json %>" onmousedown="viewResults(this)">Results</button>
                                            </td>                                    
                                        </tr>
                                    <% } %>

                                <% else %>

                                    <% @tests.each {|test|
                                       results = test['results'].collect{|r|
                                         r.values.last['results'] if ['verified', 'reviewed'].include?(r.values.last['test_status'].downcase.strip)}.compact
                                       results_available = !results.reject{|x| x.empty?}.blank?
                                       clas = ' gry ' if !results_available
                                    %>
                                    <tr>
                                        <td style="text-align: center; border-bottom: 1px solid black;"><%=  test['tracking_number']%></td>
                                        <td style="text-align: center; border-bottom: 1px solid black;"><%= test['sample_type']%></td>
                                        <td style="text-align: center; border-bottom: 1px solid black;"><%= test['test_types'].join(', ')%></td>
                                        <td style="text-align: center; border-bottom: 1px solid black;"><%= "#{test['date_ordered']}".html_safe %></td>
                                        <td style="width: 70px;">
                                          <button class="btn btn-primary" style="padding: 9px;margin: 3px;min-width: 70px;"
                                                  onmousedown="RePrint('<%= test['tracking_number']%>')">Re-print</button>
                                        </td>
                                        <td style="width: 70px;">
                                        <button class="btn <%= clas%> btn-primary" style="padding: 9px;margin: 3px;min-width: 70px;"
                                                raw-data="<%= test.to_json%>" data="<%= test['results'].to_json%>" onmousedown="viewResults(this)">View Results</button>
                                        </td>
                                        <%  if  @direct_result_entry == true %>
                                            <td style="width: 70px;">
                                                <button id=<%= test['tracking_number'] +'_'+ @national_id %> class="btn btn-primary" style="padding: 9px;margin: 3px;min-width: 70px;"
                                                   
                                                    onmousedown="load_result_page(this.id)">
                                                        Enter Result
                                                </button>
                                            </td>
                                        <% end %>
                                    </tr>
                                    <% } %>

                                <% end %>
                            </tbody>

                        </table>
                    </div>
                </div>
           
                <div id="footer">
                    <div id="buttons" class="buttonsDiv" style="width: 100%;">
                        <button id="finishButton" class="button navButton green" onclick="if (tt_cancel_destination)
                                    window.location = tt_cancel_destination;"><span>Finish</span></button>

                      <button style="float: left; min-width: 165px;" id="orderTests" class="button navButton blue" onclick="
                        window.location = '/patient/new_lab_results?identifier=<%= params[:identifier]%>&name=<%= @name %>&gender=<%= @gender %>&dob=<%= @dob %>&address=<%= @address %>'"><span>Order Tests</span></button>
                    </div>
                    <div id="tt_extraButtons"/>
                </div>

                <div id="shield" style="display: none;position:absolute;top:0px; left: 0px; height: 100vh;width:100%;background:black;opacity: 0.06;z-index:1500;"
                onclick="removeData()"></div>
                <div id="data" style="display:none;position:absolute;top: 10%; left: 25%;width: 50%;min-height: 250px;
                        background: white;z-index: 2000;border: 1px solid lightgray;max-height: 420px;overflow: auto;">
                    <table style="width: 100%;color: darkslategray" id="data-table">
                      <caption style="width: 100%;font-weight: bold; padding-top: 10px;padding-bottom: 8px;background: darkslategray;color: white;" id="header"></caption>
                      <tr>
                        <td>Test Type(s)</td>
                        <td id="test_types"></td>
                      </tr>
                      <tr>
                        <td>Date of Sample</td>
                        <td id="date_of_sample"></td>
                      </tr>
                    </table>
                </div>
        <script>

        </script>
