
        <script type="text/javascript">
            tstUsername = "";
            tstCurrentDate = new Date();
            var tt_cancel_destination = null;
            var tt_cancel_destination = "/patient/barcode";

            function setInnerHtmlData(id, result, path) {
                td = document.getElementById(id);
                td.innerHTML = "<a href =" + path + ">" + result + "</a>"
            }

            function newResults() {
                window.location = "/patient/new_lab_results?identifier=<%= @national_id%>";
            }

            function setAttributes() {
                divBtn = document.getElementById('buttons');
                divBtn.innerHTML += "<button onclick='newResults();' class='left button navButton' id='newResultsButton'><span>Order Tests</span></button>"
            }

            function manageTestsOrdered() {
                window.location = "/patient/manage_orders/<%= @national_id %>"
            }

            function confirmAction(obj) {
                accessionNum = obj.getAttribute("AccessionNum");
                testOrdered = obj.getAttribute("TestOrdered");
                jQuery('#myModal').modal('show');
            }

            function RePrint(trackingNumber){
                window.location = "/patient/print_tracking_number?tracking_number=" + trackingNumber;
            }

        </script>

        <style>
            #lab_results {
                border-width: 2px 0px 2px 0px;
                border-style: solid;
                height: 500px;
                padding-left: 5px;
                padding-right: 5px;
                width: 100%;
                overflow: auto;
                margin-top: 10px;
            }

            #headdiv {
                padding-left:10px;
            }

            a {
                background-color: grey;
                border-bottom: 1px outset black;
                border-style: outset;
                border-top: 1px outset black;
                color: white;
                display: block;
                padding: 10px 16px 10px 10px;
                text-align: center;
                text-decoration: none;
            }

            td {
                padding-top: 5px;
                padding-bottom: 5px;
                width: 250px;
            }

            #vlResultsButton{
                float: left;
            }

            #details {
                -moz-user-select: none;
                background-color: #fff;
                border: 1px solid #999;
                border-radius: 20px;
                display: table;
                float: left;
                margin: 5px;
                overflow: hidden;
                padding: 10px;
                width: 400px;
            }

            .label{
                font-size: 1em;
                font-weight: bold;
                margin: 0 5px 5px;
                padding: 2px;
            }

            .identifier{
                font-weight: bold;
                font-size: 16pt; 
                padding-left: 100px;
            }

            hr{
                margin-left: -10px;
                width: 106%;
            }

            #details .label{
                padding-left: 60px;
            }

            #lab_results {
                border-width: 2px 0px 2px 0px;
                border-style: solid;
                height: 500px;
                padding-left: 5.5%;
                padding-top: 20px;
                padding-right: 5px;
                width: 93%;
                margin: auto;
            }

            #headdiv {
                padding-left:5.5%;
            }

            #myModal button{
                border: 3px outset #000;
                min-width: 96px
            }
            .close, .close:hover{
                background: initial;
            }

            hr {
                border: none;
                height: 2px;
                color: #333; /* old IE */
                background-color: #333; /* Modern Browsers */
            }

            #newResultsButton{
                float: left;
            }
        </style>

        </head>

                <div id = 'headdiv' style="color: darkslategray">
                    <div id="details" >
                        <span class="identifier" style="text-decoration: underline"><%= @national_id %></span><br/>
                        <span class="label" style="padding-right:80px">Name</span> : <%= @name["given_name"] rescue "" + ' ' + @name["family_name"] rescue "" %> (<%= @gender rescue ""%>)<br />
                        <span class="label" style="padding-right:47px">Residence</span>: <%= @address["city_village"] rescue ""%><br />
                        <span class="label" style="padding-right:92px">Age</span> : <%= @age rescue "" %> 
                    </div>
                </div>

                <div id="lab_results" style="color: darkslategray">
                    <div style="overflow: auto; width: 100%; height: 490px;background: white;">
                        <table style="border-spacing: 0; border-collapse: collapse; width: 100%;" >
                            <thead>
                                <tr style=" color: ghostwhite;font-size: 1.2em;" >
                                    <th style=" max-width: 50px;background: darkslategray; text-align: center ">Tracking Number</th>
                                    <th style="padding: 8px;max-width: 40px;background: darkslategray; text-align: center ">Sample Type</th>
                                    <th style="text-align: center;background: darkslategray;">Test(s) Ordered</th>
                                    <th style="text-align: center;background: darkslategray">Order Date</th>
                                    <th style="text-align: center;background: darkslategray">Order Time</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @tests.each {|test| %>
                                <tr>
                                    <td style="text-align: center; border-bottom: 1px solid black;"><%=  test['tracking_number']%></td>
                                    <td style="text-align: center; border-bottom: 1px solid black;"><%= test['sample_type']%></td>
                                    <td style="text-align: center; border-bottom: 1px solid black;"><%= test['test_types'].join(', ')%></td>
                                    <td style="text-align: center; border-bottom: 1px solid black;"><%= test['date_ordered'] %></td>
                                    <td style="text-align: center; border-bottom: 1px solid black;"><%= test['time_ordered'] %></td>
                                    <td>
                                      <button class="btn btn-primary" style="padding: 12px;margin: 0px;min-width: 150px;" onmousedown="RePrint('<%= test['tracking_number']%>')">Re-print</button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div id="footer">
                    <div id="buttons" class="buttonsDiv" style="width: 100%;">
                        <button id="finishButton" class="button navButton green" onclick="if (tt_cancel_destination)
                                    window.location = tt_cancel_destination;"><span>Finish</span></button>

                      <button style="float: left; min-width: 165px;" id="orderTests" class="button navButton blue" onmousedown="
                        window.location = '/patient/new_lab_results?identifier=<%= params[:identifier]%>';"><span>Order Tests</span></button>
                    </div>
                    <div id="tt_extraButtons"/>
                </div>
        <script>

        </script>
